.header{
    background-color: #141414;
    height: 20px;
    width: calc(100vw - 10%);
    padding: 25px 5% 18px 5%;
    position: relative;
    top: 0;
    left: 0;

    .logo-img{
        width: 80px;
        height: 18px;
        background-position: 0px 0px;
        background-size: 100%;
        background-image: url("../../assets/imgs/logo_jurema.png");
    }

    .page-title{
        color: white;     
        position: absolute;
        width: calc(100% - 10%);
        text-align: center;
        top: 15px;
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {
    .header{
        .page-title{
            display: none;
        }
    }
  }