.info{

    .selects{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;

        .select{
            width: 400px;
            margin: 50px;
            font-size: 20px;

            .select-label{
                width: 100%;
                color:white;
            }

            select{
                margin-top: 10px;
                width: calc(100% - 10px);
                padding: 10px;
                font-size: 20px;
            }
        }
    }
    
    .grafico{
        width: 66%;
        margin-left: 17%;
        height: 600px;
        margin-top: 20px;
    }
}